aside {
  background: #5755FE;
  margin: 10px;
  border-radius: 10px;
  .menu {
    margin: 5px;
    padding: 10px;
    .img {
      position: relative;
      width: 80px;
      height: 80px;
      display: flex;
      left: 40px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;

      }
    }
    .menuItem{
      display: flex;
      border-radius: 10px;
      margin: 0;
        padding: 0;
      flex-direction: column;
      width: 100%;
      .item , .logOut{
        display: flex;
        padding: 5px;
        margin: 5px;
        border-radius: 10px;
        background: #ffffff;
        cursor: pointer;
        .icon{
          padding: 5px;
          border-radius: 50%;
          color: #5755FE;
        }
        span{
            margin: 4px 6px 4px 6px;
            color: #5755FE;
        }
      }
      .logOut{
        margin-top: 300px;
      }
        .item:hover , .logOut:hover{
          background: #03AED2;

          .icon {
            color: #ffffff;
          }

          span {
            color: #ffffff;
          }
        }
    }

  }
}