@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

input {
  caret-color: red;
}

.container {
  animation: fadeIn 1s ease-in-out;
  user-select: none;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}
.form-container {
  position: relative;
  width: 350px;
  height: 95%;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
.brand-logo {
  height: 100px;
  width: 100px;
  background: url("https://img.icons8.com/color/100/000000/twitter--v2.png");
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}
.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1da1f2;
  letter-spacing: 1px;
}
.inputs {
  text-align: left;
  margin-top: 10px;
}
.email-label {
  display: block;
  width: 100%;
  padding: 5px 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.forgot {
  text-decoration: none;
}
input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: #ecf0f3;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
label:nth-of-type(2) {
  margin-top: 12px;
}
.pass-label {
  display: flex;
  padding: 10px 5px 0px 0px;
  justify-content: space-between;
}
button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: white;
  margin-top: 0px;
  background: #1da1f2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}
label {
  cursor: pointer;
  user-select: none;
}
button:hover {
  box-shadow: none;
}
.error-pass-confirm,
.error-email,
.error-pass {
  display: flex;
  justify-content: end;
  font-size: 0.8rem;
  color: red;
  height: 15px;
  font-family: poppins;
  user-select: none;
}
.hasAccount {
}
.signupBtn {
  margin-top: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.shake {
  animation: shake 1s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
